bcrypt==4.1.3
bidict==0.23.1
blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Cython==3.0.10
editdistance==0.8.1
eval==0.0.5
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
h11==0.14.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pillow==10.3.0
pyinput==0.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
python-engineio==4.9.1
python-socketio==5.11.3
pywin32==306
requests==2.32.3
simple-websocket==1.0.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
urllib3==2.2.1
utils==1.0.2
Werkzeug==3.0.3
wsproto==1.2.0
